*{
  border: none;
  box-shadow: none;
  outline: none;
}

window {
  font-size: 14px;
  font-family: "JetBrains Mono";
  background-color: #030509;
  border-radius: 8px;
  opacity: 1;
}

#outer-box {
  margin: 10px 10px 20px 10px;
  background-color: #030509;
  opacity: 0.90;
}

#inner-box {
  margin: 10px;
  background-color: #030509;
  opacity: 0.90;
}

#entry {
  padding: 5px 10px;
  border-radius: 20px;
}

#entry #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: #ebe6e4;
}

#entry:selected {
  background-color: #B5B9CA;
}

#entry:selected #text {
  padding: 0px 0px 0px 10px;
  font-weight: normal;
  color: #030509;
}

#input {
  background: transparent;
  margin: 0px 5px 0px 20px;
  color: #ebe6e4;
  padding: 5px;
}

#image {
  margin-left: 20px;
  margin-right: 20px;
}

#scroll {
  margin: 0px;
}
